body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}
.left { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-left: -200px;
}
.menu {
    margin-right: 50px;
}    
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

