body {
    background-color: rgb(245, 242, 253);
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* Nav bar */
nav {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}
.left, .right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.left {
    margin-left: 20px;
}
.right {
    margin-right: 20px;
}
.center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    align-items: center;
}
/* content */
.container {
    display: flex; /* Coloca main e recommended-content lado a lado */
    align-items: flex-start;
}
/* main content */
main {
    margin-top: 20px;
}
.video-principal {
    margin-left: 75px;
}
.titulo-video h1 {
    font-size: 20px;
    font-weight: 700;
    flex-wrap: nowrap;
}
.infos-canal {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}
.nome-canal {
    display: flex;
    flex-direction: column;
    text-align: left; /* Alinhamento do texto à esquerda */
    line-height: 1; /* Remove espaçamento extra entre as linhas */
    margin: 0;
}
.nome-canal h2,
.nome-canal p {
    margin: 0;
    padding: 0;
}
.botao-inscrevase,
.like,
.deslike,
.compartilhar,
.download {
    display: flex;
    align-items: center;
}
.botao-inscrevase img,
.like img,
.deslike img,
.compartilhar img,
.download img {
    width: auto; /* Mantém o tamanho natural das imagens */
    height: 30px; /* Ajuste conforme necessário */
}
.dados {
    font-size: 12px;
    margin-top: 30px;
}
.descricao {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}
.descricao p {
    color: rgba(81, 81, 81, 1);
    margin-top: 0px;
}
/* recommended content */
.recommended-content {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.content-1, .content-2, .content-3 {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Espaço entre imagem e texto */
    margin-bottom: 20px;
    height: auto;
}
.image-1 img, .image-2 img, .image-3 img {
    width: 250px;
    height: auto;
    display: block;
}
.text-1, .text-2, .text-3 {
    display: flex;
    flex-direction: column;
}
.text-1 h2, .text-2 h2, .text-3 h2 {
    margin-top: 0;
}
.text-1 p, .text-2 p, .text-3 p {
    margin-top: 0;
}