body {
    background-color: rgb(245, 242, 253);
    color: black;
    margin: 0;
    padding: 0;
}
nav {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}
.left, .right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.left {
    margin-left: 20px;
}
.right {
    margin-right: 20px;
}
.center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    align-items: center;
}
